
<% @books.each do |book| %>

  <div>
    <%= image_tag book.get_image %>
      <span>
        <%= link_to user.name, user_path(@user.id) %>
      </span>

    <p>Title</p>
      <span>
        <%= link_to book.title, book_path(@book.id) %>
      </span>
    <p>Opinion</p>
      <span>
        <%= book.body %>
      </span>

  </div>

<% end %>